body {
  background-color: purple;
}

img {
  position: absolute;
  width: 120px;
}

.turn-90 {
  transform: rotate(90deg);
}

.turn-180 {
  transform: rotate(180deg);
}

.turn-270 {
  transform: rotate(270deg);
}
